body {
     font: 400 15px Lato, sans-serif;
     line-height: 1.8;
     color: #818181;
 }
h2{
  color: #727272;
}
.jumbotron{
    color: #e74c3c;
    padding: 100px 25px;
    font-family: arial;
}
.thumbnail {
     padding: 0 0 15px 0;
     border: none;
     border-radius: 0;
 }
 .thumbnail img {
     width: 100%;
     height: 100%;
     margin-bottom: 10px;
 }
 .carousel-inner > .item > img,
 .carousel-inner > .item > a > img {
    width: 100%;
    height: 600px;
    margin: auto;
  }
 .carousel-control.right, .carousel-control.left {
     background-image: none;
     color: #fff;
 }
 .carousel-indicators li {
     border-color: #fff;
 }
 .carousel-indicators li.active {
     background-color: #fff;
 }
 .item h4 {
     font-size: 19px;
     line-height: 1.375em;
     font-weight: 400;
     font-style: italic;
     margin: 70px 0;
 }
 .item span {
     font-style: normal;
 }
.navbar {
      margin-bottom: 0;
      background-color: #e74c3c;
      z-index: 9999;
      border: 0;
      font-size: 12px !important;
      border-radius: 0;
      font-family: Arial;
  }
  .navbar li a, .navbar .navbar-brand {
      color: #fff !important;
      font-weight: bold;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
      color: #fff!important;
      background-color: #e74c3c !important;
      border-bottom:4px solid #fff;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #fff !important;
  }

.home{
    background-color:#e74c3c;
    width:100%;
    height:600px;
    color: #fff
}

.about{
  background-color:#ffffff;
  width:100%;
  height:450px;
}

.contact{
  background-color:#ffffff;
  width:100%;
  height:450px;
}

.footer{
  padding: 20px 20px 20px 20px;
  background-color: #1a0000;
  width:100%;
  margin-bottom: 10px;
}
.form-control{
  border-radius: 0;
  margin-bottom: 10px;
}

.btn{
  border-radius: 0;
}
